@font-face {
	font-family:Sansation_B;
	src:url(fonts/7fonts_ru_Sansation_Bold.eot);
	src:url(fonts/7fonts_ru_Sansation_Bold.eot) 
	format('embedded-opentype'),url(fonts/7fonts_ru_Sansation_Bold.woff2) 
	format('woff2'),url(fonts/7fonts_ru_Sansation_Bold.woff) 
	format('woff'),url(fonts/7fonts_ru_Sansation_Bold.ttf) 
	format('truetype'),url(fonts/7fonts_ru_Sansation_Bold.svg#7fonts_ru_Sansation_Bold) 
	format('svg')
}
.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.navbar-brand {
	font-family: 'Sansation_B';
}